# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
.venv/
venv/
env/

# Local Config
*.env

# VS Code
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db

# Distribuciones / builds
build/
dist/
*.egg-info/